// variables sass
$bp: 768px;
$dark: #272a31;
$orange: #ec5242;
$grey: #d3d3d3;
$light-grey: #e6e6e6;
$mid-grey: #525252;
$white: #fff;
$primary-font: lato, sans-serif;
$secondary-font: cocogooseregular, sans-serif;
