// program

.program {
  background-color: $dark;
  height: 35vw;
  text-align: center;

  h2 {
    color: $light-grey;
    padding: 4vw 0 0 0;
    font-size: 1.5vw;

    &:after {
      display: block;
      clear: both;
      content: "";
      position: relative;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 4vw;
      border-bottom: 1px solid #e2000f;
      margin: 0 auto;
      padding: 4px 0px;
    }
  }

  &-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 3vw 0 3vw 0;

    .program-item {
      background-color: rgba(255, 255, 255, 0.1);
      text-align: center;
      height: 16vw;
      width: 14vw;
      margin: 0.2vw;

      img {
        height: 3vw;
        width: 3vw;
        opacity: 0.7;
        margin: 2vw 0 0 0;
      }

      h3 {
        color: $orange;
        font-size: 1.5vw;
        font-weight: 600;
        margin: 1vw 0 0 0;
      }

      p {
        color: $light-grey;
        margin: 1vw 1vw 0 1vw;
        line-height: 1.7vw;
      }
    }
  }
  a {
    color: $light-grey;
    font-size: 1vw;
    font-weight: 100;
    border-bottom: 1px solid $light-grey;
  }
}
